<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- CCS BOOTSTRAP -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
		<!-- CSS CUSTOM -->
		<link rel="stylesheet" href="../css/main.css" />
		<title>Primate CODE | 404 not found</title>
	</head>

	<body class="nf">
		<img src="../assets/img/NOTFOUND/mono1.jpg" width="400px" alt="mono con pc" />
		<h1 class="text-center mx-2">Page not found</h1>
		<small class="text-muted mb-3">primtecde/HTTP_404</small>
		<p class="text-center mx-2">We could not find the above page on our servers.</p>
		<span class="text-center mx-2">Did you mean: <a class="text-success" href="../index.html">primatecode</a></span>
		<p class="text-center mx-2">Alternatively, you can visit the <a class="text-success" href="../index.html">main page</a> or read <a class="text-success" href="https://en.wikipedia.org/wiki/HTTP_404">more information</a> about this type of error.</p>
	</body>
</html>
