@import "../utilities/variables";
.bg-dark {
	background-color: $color-dark;
}

.text-secondary {
	color: $color-secondary;
}

.bg-success {
	background-color: $color-success;
}

.bg-darkSoft {
	background-color: $color-darkSoft;
}

// THEME DARK

.dark {
	background-color: lightgoldenrodyellow;
}
