.iconUp {
	//1 bloque
	position: fixed;
	bottom: 5px * 2; //operacion 3
	right: 10px;
	font-size: 2rem;
	color: rgb(245, 6, 6);
	z-index: 10;
	&--hover:hover {
		transform: rotate(180deg) !important;
	}
}
